.help-modal-alert {
    font-size: 12px;
    padding: 7px 10px !important;
}
.map-modal-check {
    font-size: 12px;
}
/* .imkan-modal {
    position: absolute;
    top: 4rem;
    left: 10rem;
    border: none;
    z-index: 1;
} */